@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Maven+Pro:wght@400;700&display=swap&#39');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&family=Maven+Pro:wght@400;700&display=swap&#39');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
#menu {
    text-align: center;
    margin-top: 20px;
}
#menu h2 {
    color: yellow;
    cursor: pointer;
    transition: color 0.3s;
    width: 100vw;
}
#menu h2:hover {
    color: #007BFF;
}
nav {
    width: 100vw;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 400px;
    margin: 0 auto;
}
nav li {
    flex: 1;
    text-align: center;
}
nav a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}
nav a:hover {
    color: #007BFF; 
}
nav{
background-color: yellow;
width: 100%;
}
.centered{
display: flex;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#logo {
   background-color: #0056b3;
    justify-content: center;
    align-items: center;
}
#logo img {
    display: block; /* Hace que la imagen sea un bloque para centrarla correctamente */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    background-color: #0056b3;
    justify-content: center;
    align-items: center;
}
main {
    max-width: 1000px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-form {
    flex: 1;
    padding: 20px;
}
.contact-form h2 {
    font-size: 24px;
    color: #333;
}
.contact-form label {
    font-size: 16px;
    margin: 10px 0;
    display: block;
    color: #555;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
.contact-form button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.map {
    flex: 1;
    padding: 20px;
}
.map h2 {
    font-size: 24px;
    color: #333;
}
iframe {
    border: none;
    border-radius: 10px;
}
